# Python cache
__pycache__/
*.pyc

# Trained models and logs (optional - enable if you do not want to version models)
geometry_dash_ai_v1/geometry_dash_project/trained_models/logs/

# Virtual environment
.venv/

# OS files
*.DS_Store
Thumbs.db
